* {
    margin: 0;
}

.header-div {
    width: 100%;
    position: relative;
}

.header-img-background {
    object-fit: cover;
    width: 100%;
    max-height: inherit;
}

.header-img-logo {
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
